{% extends 'teampages/base.html' %}
{% block static_links %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'teampages/bootstrap/css/bootstrap.min.css' %}">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'teampages/bootstrap/js/bootstrap.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'teampages/css/team.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'teampages/css/base.css' %}">
{% endblock %}
{% block main_content %}
{% load humanize %}
    <div class="container"> 
    	<div class="page-header">
    		<h1>{{team.name}}'s Team</h1>
    	</div>
    	<div class="row">
    		<div class="col-md-5">
    			<h3>Roster</h3>
    			<table class="table">
					<thead>
						<tr>
							<th class="col-md-1">Position</th>
							<th class="col-md-2">Player</th>
							<th class="col-md-2">Salary</th>
							</tr>
						</thead>
            <tbody>
            {% for player in roster.players.F %}
              {% if forloop.first %}
                <td class="position-cell" align="middle" rowspan="{{roster.players.F|length}}">F</td>
              {% endif %}
              </td><td >{{player.fullName}}</td><td >${{player.salary | intcomma}}</td>
              </tr>
            {%endfor%}
            {% for player in roster.players.D %}
              {% if forloop.first %}
                <td class="position-cell" align="middle" rowspan="{{roster.players.D|length}}">D</td>
              {% endif %}
              </td><td >{{player.fullName}}</td><td >${{player.salary | intcomma}}</td>
              </tr>
            {%endfor%}
            {% for player in roster.players.G %}
              {% if forloop.first %}
                <td class="position-cell" align="middle" rowspan="{{roster.players.G|length}}">G</td>
              {% endif %}
              </td><td >{{player.fullName}}</td><td >${{player.salary | intcomma}}</td>
              </tr>
            {%endfor%}
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td>Salary:</td>
                <td>${{roster.salary | intcomma}}</td>
              </tr>
              {% for pos, players in roster.players.iteritems %}
              <tr>
                <td></td>
                <td>{{pos}}</td>
                <td>{{players | length}}</td>
              </tr>
              {%endfor%}
            </tfoot>

    			</table>
			</div>
			<div class="col-md-1">
			</div>
			<div class="col-md-5">
  			<h3>Lineup</h3>
  			<table class="table">
					<thead>
						<tr>
							<th class="col-md-1">Position</th>
							<th class="col-md-2">Player</th>
							<th class="col-md-2">Salary</th>
						</tr>
					</thead>
          <tbody>
            {% for player in lineup.players.F %}
              {% if forloop.first %}
                <td class="position-cell" align="middle" rowspan="{{lineup.players.F|length}}">F</td>
              {% endif %}
              </td><td >{{player.fullName}}</td><td >${{player.salary | intcomma}}</td>
              </tr>
            {%endfor%}
            {% for player in lineup.players.D %}
              {% if forloop.first %}
                <td class="position-cell" align="middle" rowspan="{{lineup.players.D|length}}">D</td>
              {% endif %}
              </td><td >{{player.fullName}}</td><td >${{player.salary | intcomma}}</td>
              </tr>
            {%endfor%}
            {% for player in lineup.players.G %}
              {% if forloop.first %}
                <td class="position-cell" align="middle" rowspan="{{lineup.players.G|length}}">G</td>
              {% endif %}
              </td><td >{{player.fullName}}</td><td >${{player.salary | intcomma}}</td>
              </tr>
            {%endfor%}
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td>Salary:</td>
              <td>${{lineup.salary | intcomma}}</td>
            </tr>
            {% for pos, players in lineup.players.iteritems %}
              <tr>
                <td></td>
                <td>{{pos}}</td>
                <td>{{players | length}}</td>
              </tr>
              {%endfor%}
          </tfoot>
  			</table>
    	</div>
    </div>
    <div class="container">
      <h2>Draft Picks</h2>
      <hr>
      <div class="row">
      {% for year, years_picks in picks.iteritems %}
        <div class="col-md-3">
        <table class="table">
        <tbody>
        <tr>
        <td class="position-cell" align="middle" rowspan="8">{{year}}</td>
        {% for pick in years_picks %}
          <td>{{pick.original_owner.name}}'s round {{pick.round}}</td>
          </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
      {%endfor%}
      </div>
    </div>
    <div class="container">
      <h2>Banners</h2><hr>
      {% for year, banners_year in banners %}
      <div class="row">
        <div class="col-md-1  year-column">
        <span>{{year}}</span>
        </div>
        <div class="col-md-11">
          <div class="row">
            {% for banner in banners_year %}
            <div class="col-md-2 banner-columns">
              <div class="banner-outer">
                <div class="banner-border">
                  <div class="banner-inner">
                    <div class="banner-title">
                      <p>The</p>
                      <p>Keeper Pool</p>
                    </div>
                    <div class="banner-description">
                      <p>
                        {{banner.trophy}}
                        {% if banner.player %}
                        <br>-<br>
                        {{banner.player}}
                        {% endif %}
                      </p>                                 
                    </div>
                    <div class="banner-year">
                      <p>{{banner.year|add:"-1"}}-{{banner.year}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock %}